/* This file is maintaned in https://github.com/ScanGov/components and copied to multiple projects during startup */

/* Root */

:root, [data-bs-theme=dark], [data-bs-theme=light] {
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-body-bg: #13171f;
    --bs-body-bg-rgb: 19, 23, 31;
    --bs-link-color: #70e17b;
    --bs-link-color-rgb: 112, 225, 123;
    --bs-link-hover-color: var(--bs-link-color);
    --bs-link-hover-color-rgb: 112, 225, 123;
    --bs-selection-bg: var(--bs-link-color);
    --bs-selection-color: var(--bs-body-bg);
    --bs-font-monospace: "JetBrains Mono Medium", monospace;
    --bs-font-light: "Public Sans Light", sans-serif;
    --bs-font-bold: "Public Sans Bold", sans-serif;
    --bs-font-regular: "Public Sans Regular", sans-serif;
    --bs-font-serif: "Merriweather Light", sans-serif;
    --bs-font-thin: "Public Sans Thin", sans-serif;
    --bs-font-extra-bold: "Public Sans ExtraBold", sans-serif;
    --bs-font-sans-serif: "Public Sans Regular", sans-serif;
}

/* General */

body {
    color: var(--bs-body-color);
    background: var(--bs-body-bg);
    background-color: var(--bs-body-bg);
    font-family: var(--bs-font-sans-serif);
}

strong {
    font-family: var(--bs-font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: var(--bs-font-bold);
}

/* Selection */

::selection {
    background-color: var(--bs-selection-bg);
    color: var(--bs-selection-color);
}

/* Navbar */

#logo {
    max-width: 35px;
    width: 100%;
    height: 100%;
}

/* Breadcrumb */

.breadcrumb-item a, .breadcrumb-item a:visited {
    color: var(--bs-link-color);
    font-family: var(--bs-font-bold);
    text-decoration: none;
}

/* Icons */

/* Brands */

.fa-github {
    color: #96abee !important;
}

.fa-discord {
    color: #f8b9c5 !important;
}

.fa-linkedin {
    color: #c3ebfa !important;
}

.fa-youtube {
    color: #fd8ba0 !important;
}

/* General */

.fa-arrows-rotate {
    color: #c5ee93 !important;
}

.fa-bell {
    color: #29e1cb !important;
}

.fa-bell-concierge {
    color: #dec69a !important;
}

.fa-bolt {
    color: #face00 !important;
}

.fa-brain {
    color: #fdb8ae !important;
}

.fa-building {
    color: #b7f5bd !important;
}

.fa-bullhorn {
    color: #96abee !important;
}

.fa-calendar {
    color: #f8b9c5 !important;
}

.fa-certificate {
    color: #ffbe2e !important;
}

.fa-check-to-slot {
    color: #ffb4cf !important;
}

.fa-circle-check {
    color: #70e17b !important;
}

.fa-circle-nodes {
    color: #c3ebfa;
}

/*
.fa-circle-info {
    color: #b8d293 !important;
}

.fa-circle-question {
    color: #97d4ea !important;
}
*/

.fa-code {
    color: #bbc8f5 !important;
}

.fa-comment {
    color: #c5c5f3 !important;
}

.fa-crown {
    color: #ffe396 !important;
}

.fa-dashboard {
    color: #ffbc78;
}

.fa-diagram-project {
    color: #7efbe1 !important;
}

.fa-envelope-open-text {
    color: #7efbe1 !important;
}

.fa-eye {
    color: #f8b9c5;
}

.fa-face-smile {
    color: #fffb00;
}

.fa-file {
    color: #a8f2ff;
}

.fa-file-lines {
    color: #a8f2ff;
}

.fa-filter {
    color: #cbc4f2;
}

.fa-fire {
    color: #ffbc78 !important;
}

.fa-flag {
    color: #f45d79;
}

.fa-gauge-simple {
    color: #ffbc78;
}

.fa-gauge-high {
    color: #ffbc78;
}

.fa-gear {
    color: #a1d3ff;
}

.fa-graduation-cap {
    color: #c7efe2;
}

.fa-hand, .fa-hands, .fa-hands-clapping, .fa-handshake-simple, .fa-handshake-angle, .fa-hand-peace, .fa-hand-pointer, .fa-hand-point-up, .fa-hand-point-down, .fa-hand-point-right, .fa-hand-point-left {
    color: #face00;
}

.fa-heart {
    color: #ff8d7b;
}

.fa-heart-crack {
    color: #ff8d7b;
}

.fa-house {
    color: #f4b2ff;
}

.fa-laptop {
    color: #9bd4cf;
}

.fa-landmark {
    color: #ffffff !important;
}

.fa-lightbulb {
    color: #ffe396;
}

.fa-key {
    color: #f8b9c5;
}

.fa-link {
    color: #7efbe1;
}

.fa-lock {
    color: #ff8d7b;
}

.fa-magnifying-glass {
    color: #ffe396;
}

.fa-map {
    color: #fdb8ae;
}

.fa-newspaper {
    color: #f8b9c5;
}

.fa-paper-plane {
    color: #c3ebfa;
}

.fa-percent {
    color: #a8f2ff;
}

.fa-ranking-star {
    color: #83fcd4;
}

.fa-rectangle-list {
    color: #f8b9c5;
}

.fa-right-from-bracket {
    color: #ff8d7b;
}

.fa-robot {
    color: #e7f434;
}

.fa-rocket {
    color: #d0c3e9;
}

.fa-rss {
    color: #ffbc78;
}

.fa-satellite-dish {
    color: #c3ebfa !important;
}

.fa-scroll {
    color: #fee685 !important;
}

.fa-scale-balanced {
    color: #e6c74c;
}

.fa-seedling {
    color: #c5ee93;
}

.fa-server {
    color: #fbbaa7;
}

.fa-share-nodes {
    color: #ffb4cf;
}

.fa-spray-can-sparkles {
    color: #f8b9c5;
}

.fa-square-check {
    color: #c3ebfa;
}

.fa-star {
    color: #e6c74c;
}

.fa-table {
    color: #f8b9c5;
}

.fa-timeline {
    color: #ffb4cf;
}

.fa-universal-access {
    color: #a8f2ff;
}

.fa-user-astronaut {
    color: #f8b9c5;
}

.fa-user-group {
    color: #f8b9c5;
}

.fa-user-shield {
    color: #f3bf90;
}

.fa-wand-magic-sparkles {
    color: #f8b9c5;
}

.fa-window-maximize {
    color: #ffcdd5;
}

/* Cards */

.card-hover {
    transition: 0.5s filter;
}

.card-hover:hover {
    filter: brightness(1.3);
}

/* iframe */

iframe {
    border: 1px solid var(--bs-border-color) !important;
}

/* Forms */

.form-control:focus {
    border-color: var(--bs-link-color);
}

/* Anchor links */

h2 a#heading-hashtag,
h3 a#heading-hashtag {
    display: none;
}

h2:hover a#heading-hashtag,
h3:hover a#heading-hashtag {
    display: revert;
}

/* News posts */

.post-content h2 {
    margin-top: 2.75rem;
}

.post-content ul, .post-content p {
    margin-bottom: 1.75rem;
}

/* File types */
a[href$=".doc"]::after,
a[href$=".docx"]::after,
a[href$=".ppt"]::after,
a[href$=".pptx"]::after,
a[href$=".xls"]::after,
a[href$=".xlsx"]::after,
a[href$=".pdf"]::after,
a[href$=".mp3"]::after,
a[href$=".mp4"]::after,
a[href$=".avi"]::after,
a[href$=".mpg"]::after,
a[href$=".mpeg"]::after,
a[href$=".mov"]::after,
a[href$=".wmv"]::after,
a[href$=".mkv"]::after,
a[href$=".jpg"]::after,
a[href$=".jpeg"]::after,
a[href$=".png"]::after,
a[href$=".gif"]::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Doc */
a[href$=".doc"]::after,
a[href$=".docx"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-word.svg);
}

/* PowerPoint */
a[href$=".ppt"]::after,
a[href$=".pptx"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-powerpoint.svg);
}

/* Excel */
a[href$=".xls"]::after,
a[href$=".xlsx"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-excel.svg);
}

/* PDF */
a[href$=".pdf"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-pdf.svg);
}

/* MP3 */
a[href$=".mp3"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-audio.svg);
}

/* MP4 */
a[href$=".mp4"]::after {
    background-image: url(/assets/font-awesome/svgs/solid/file-video.svg);
}