---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: {{ site['org-url'] }}/contact
Expires: {{ site.securityExpires }}
Preferred-Languages: en
Canonical: {{ site.url }}/.well-known/security.txt
Policy: {{ site['org-url'] }}/contact
