:root {
    --scangov-color-alerts: #29e1cb;
    --scangov-color-certificate: #e7f434;
    --scangov-color-docs: #a8f2ff;
    --scangov-color-guidance: #fee685;
    --scangov-color-landmark: #c5ee93;
    --scangov-color-me: #fffb00;
    --scangov-color-news: #f4b2ff;
    --scangov-color-pages: #b7f5bd;
    --scangov-color-project: #7efbe1;
    --scangov-color-schedule: #f8b9c5;
    --scangov-color-sites: #ffcdd5;
    --scangov-color-standards: #face00;
    --scangov-color-tasklist: #c3ebfa;
    --scangov-color-what-they-say: #f5f6f7;
}

.fa-certificate {
    color: var(--scangov-color-certificate) !important;
}

.fa-scroll {
    color: var(--scangov-color-guidance) !important;
}

.fa-diagram-project {
    color: var(--scangov-color-project) !important;
}

.fa-landmark {
    color: var(--scangov-color-landmark) !important;
}

.fa-robot {
    color: #e6e6e6;
}

.fa-universal-access {
    color: #a8f2ff;
}

.fa-file-lines {
    color: #d5bfff;
}

.fa-link {
    color: #7efbe1;
}

.fa-dashboard, .fa-gauge {
    color: #ffbc78;
}

.fa-lock {
    color: #ff8d7b;
}

.fa-magnifying-glass {
    color: #ffe396;
}

.fa-share-nodes {
    color: #ffb4cf;
}