---
layout: layouts/default.html
title: "Guidance"
date: 2024-03-08
author: ScanGov
description: "ScanGov Standards are based on these established web protocol, guidelines and best practices."
topics:
  - Guidance
---

<div class="table-responsive">
    <table class="table table-bordered table-hover shadow">
      <thead>
        <tr>
          <th scope="col" class="p-3">Topics</th>
          <th scope="col" class="p-3">Guidance</th>
          <th scope="col" class="p-3">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for standard in guidance %}
        <tr>
          <td class="p-3">
            <div class="d-flex flex-wrap">
              {% for topic in standard.topics %}
              <a href="{{ topic.url }}" class="icon-link d-inline-flex align-items-center mb-1 me-1 text-decoration-none">
                <i class="fa-solid fa-{{ topic.icon }} me-2" title="{{ topic.displayName }}"></i>
              </a>
              {% endfor %}
            </div>
          </td>
          <td class="p-3">
            <div>
              <a href="{{ standard.url }}">{{ standard.displayName }}</a>
            </div>
          </td>
          <td class="p-3">
            <div>
              {{ standard.description }}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>