---
layout: layouts/default.html
title: "Guidance"
date: 2024-03-08
author: ScanGov
description: "ScanGov Standards are based on these established web protocol, guidelines and best practices."
topics:
  - Guidance
---

<div class="table-responsive">
    <table class="table table-bordered table-hover shadow">
      <thead>
        <tr>
          <th scope="col" class="p-3">Topics</th>
          <th scope="col" class="p-3">Guidance</th>
          <th scope="col" class="p-3">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-3">
            <div class="d-flex flex-wrap">
              <a href="{{ topic_url }}" class="d-inline-flex align-items-center mb-1 me-1 text-decoration-none">
                <i class="{{ topic_data.icon }} me-2" title="{{ topic }}"></i>
              </a>
            </div>
          </td>
          <td class="p-3">
            <div>
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            </div>
          </td>
          <td class="p-3">
            <div>
              {{ page.description }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>