---
layout: layouts/default.html
date: 2025-05-01
modified: 2025-05-01
author: ScanGov
compact: true
topics:
  - Guidance

pagination:
    data: audits
    size: 1
    addAllPagesToCollections: true
    alias: topic

permalink: "/guidance/{{ topic }}/"

eleventyComputed:
  title: "{{ audits[topic].displayName }} guidance"
  description: "{{ audits[topic].guidanceDescription }}"
---


{% include "filter-guidance.html" %}

{% set value = topic %}

<div class="table-responsive">
    <table class="table">
      <caption class="visually-hidden">{{ audits[topic].displayName }} indicators, guidance, and related standards</caption>
      <thead>
        <tr>
          <th scope="col" class="p-3">Indicators <a href="https://docs.scangov.org/indicators"><i class="fa-solid fa-circle-question" aria-label="Indicators"></i></a></th>
          <th scope="col" class="p-3">Guidance</th>
          <th scope="col" class="p-3">Standards <a href="https://standards.scangov.org/"><i class="fa-solid fa-circle-question" aria-label="Standards"></i></a></th>
        </tr>
      </thead>
      <tbody>

        {% for item  in guidance %}
          {% set showGuidanceRow = false %}
          {% for topicKey in item.topics %}
            {% if topicKey == value %}
              {% set showGuidanceRow = true %}
            {% endif %}
          {% endfor %}
          {% if showGuidanceRow %}
          <tr>
            <td class="p-3 col-2">
              <div class="d-flex flex-wrap">
                {% for key in ["accessibility", "botability", "security", "usability"] %}
                {% if key in item.topics %}
                  <a href="{{ audits[key].url }}" class="icon-link d-inline-flex align-items-start mb-1 me-1 text-decoration-none">
                    <i class="fa-solid fa-{{ audits[key].icon }} me-2 mb-2" title="{{ audits[key].displayName }}"></i>
                  </a>
                {% endif %}
              {% endfor %}
              </div>
            </td>
            <td class="p-3 col-7">
              <div>
                <a href="/{{ item.key | slugify }}">{{ item.displayName }}</a>
              </div>
              <div>
                <span class="small">{{ item.description | escape }}</span>
              </div>
            </td>
            <td class="p-3 w-30">
              <ul class="small">
                {% for standard in item.standards %}
                  <li><a href="{{ standard.url }}">{{ standard.displayName }}</a></li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>