---
layout: layouts/default.html
title: "Government digital experience standards"
date: 2025-02-01
modified: 2025-03-17
author: ScanGov
description: "Based on government policy, web protocol, guidelines and best practices."
topics:
  - Standards
---

  <div class="table-responsive">
    <table class="table table-bordered table-hover shadow">
      <thead>
        <tr>
          <th scope="col" class="p-3">Topic</th>
          <th scope="col" class="p-3">Standard</th>
          <th scope="col" class="p-3">Description</th>
          <th scope="col" class="p-3">Guidance</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in audits %}
          {% for item in audits[key].attributes %}
          <tr>
            <td class="p-3">
              <div class="d-flex flex-wrap">
                <a href="{{ topic_url }}" class="icon-link d-inline-flex align-items-start mb-1 me-1 text-decoration-none">
                  <i class="fa-solid fa-{{ value.icon }} me-2" title="{{ topic }}" aria-label="{{ value.displayName }}"></i>
                </a>
              </div>
            </td>
            <td class="p-3">
              {% for standard in item.standards %}
                <div>
                  <a href="{{ standard.url }}">{{ item.displayName }}</a>
                </div>
              {% endfor %}
            </td>
            <td class="p-3">
              <div>
                {{ item.description }}<br>
              </div>
            </td>
            <td class="p-3">
              <div>
                <a href="{{ item.docs }}">{{ item.guidance }}</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
