---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
  {%- if item.url and item.data.sitemap != false %}
  {%- set lastmod = item.data.modified or item.data.date %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- if lastmod %}
    <lastmod>{% if lastmod.toISOString %}{{ lastmod.toISOString() }}{% else %}{{ lastmod }}{% endif %}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
