---
layout: layouts/default.html
date: 2025-04-28
modified: 2025-04-29
author: ScanGov
compact: true
topics:
  - Standards

pagination:
    data: audits
    size: 1
    addAllPagesToCollections: true
    alias: topic

permalink: "/{{ topic }}/"

eleventyComputed:
  title: "{{ audits[topic].displayName }} standards"
  description: "{{ audits[topic].standardsDescription }}"
---

{% include "filter.html" %}

{% set value = audits[topic] %}

<div class="table-responsive">
    <table class="table">
        <caption class="visually-hidden">{{ audits[topic].displayName }} standards</caption>
        {% include "table_header.html" %}
        <tbody id="standards-table">
            {% include "standards_table.html" %}
        </tbody>
    </table>
</div>
{% include "standards-table-sort.html" %}
