<ul class="nav nav-pills small mb-3">
  {% set pillTitle = "Standards" %}
  {% set pillUrl = "/" + (topic + "/" if topic else "") %}
  {% set pillIcon = "fa-solid fa-certificate" %}
  {% set pillActive = false %}
  {% include "filter-pill.html" %}
  {% set pillTitle = "Guidance" %}
  {% set pillUrl = "/guidance/" + (topic + "/" if topic else "") %}
  {% set pillIcon = "fa-solid fa-scroll" %}
  {% set pillActive = true %}
  {% include "filter-pill.html" %}
</ul>
<ul class="nav nav-tabs filter small mb-0">
  {% set pillTitle = "All" %}
  {% set pillUrl = "/guidance" %}
  {% set pillIcon = "fa-solid fa-circle-notch" %}
  {% set pillActive = not topic %}
  {% include "filter-pill.html" %}

  {% for key, audit in audits | dictsort %}
    {# topic is the pagination variable for each page #}
    {% set pillTitle = audit.displayName %}
    {% set pillUrl = "/guidance/" + key + "/" %}
    {% set pillIcon = "fa-solid fa-" + audit.icon %}
    {% set pillIconTitle = audit.displayName %}
    {% set pillActive = key == topic %}
    {% include "filter-pill.html" %}
  {% endfor %}
</ul>