<ul class="nav nav-pills mb-3 small">
  <li class="nav-item">
    <a class="nav-link btn btn-primary-outline mx-1 {% if not topic %}active{% endif %}" href="/guidance">All</a>
  </li>
  {% for key, audit in audits | dictsort %}
    <li class="nav-item">
      {# topic is the pagination variable for each page #}
      <a class="nav-link btn btn-primary-outline mx-1 {% if key == topic %}active{% endif %}" href="/guidance/{{ key }}/">
        <i class="fa-solid fa-{{ audit.icon }} me-2" title="{{ audit.displayName }}"></i>
        {{ audit.displayName }}
      </a>
    </li>
  {% endfor %}
</ul>