<footer>
  <div class="container mt-5 pt-5 border-top">
    <div class="row">
      <div class="col-12">
        <p class="small">
          <a href="{{ site['org-url'] }}" style="text-decoration: none;">ScanGov</a>
          {% thisYear %}
        </p>
      </div>
    </div>
  </div>
</footer>
<script>
  function onThisPage() {
    let targetEl = document.querySelector('.js-on-this-page');
    let headersToLink = document.querySelectorAll('h2');
    console.log(headersToLink)
    let html = `<p class="border-bottom pb-3">On this page</p>
      <ul class="nav flex-column">
        ${Array.from(headersToLink).map(h => {
          return `<li class="mb-2 small ">
            <a href="#${h.id}">${h.textContent.trim()}</a>
          </li>`;
        }).join('')}
      </ul>`;
      targetEl.innerHTML = html;
  }
  if(document.querySelector('.js-on-this-page')) {
    onThisPage();
  }
</script>
<!-- Google tag (gtag.js) -->
<script
  async
  defer
  src="https://www.googletagmanager.com/gtag/js?id=G-9NLQN90ZH2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9NLQN90ZH2');
</script>
{% include "js.html" %}

{% getBundle "fontawesome" %}

<div id="feedback-container" class="text-center">
  <a
    href="https://docs.scangov.org/feedback"
    id="feedback-button"
    aria-label="Feedback"
    class="feedback btn btn-lg">
    Feedback
  </a>
</div>
<script>
  const feedbackButton = document.getElementById("feedback-button");
  window.addEventListener('scroll', () => {
    if (document.documentElement.scrollTop > window.innerHeight * .3) 
      feedbackButton.style.opacity = '1';
    else
      feedbackButton.style.opacity = '0';
  });



  document.querySelector('button.navbar-toggler').addEventListener('click',function(e) {
    let el = document.querySelector(this.dataset.target);
    console.log(el)
    el.classList.toggle('show');
  })
  if(document.getElementById('dropdownMenuButton')) {
    document.getElementById('dropdownMenuButton').addEventListener('click',function(e) {
      let el = document.querySelector('[aria-labelledby="'+this.id+'"]')
      el.classList.toggle('show');
    })
  }
</script>

</body></html>