{% if isStandard or isGuidance %}
  <ul class="nav nav-pills filter small">
    {% if isStandard %}
      <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1" href="/">
          <i class="fa-solid fa-certificate"></i>Standard</a>
      </li>
    {% endif %}
    {% if isGuidance %}
      <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1" href="/guidance">
          <i class="fa-solid fa-scroll"></i>Guidance</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
