{% if isStandard or isGuidance %}
  <ul class="nav nav-pills filter small">
    {% if isStandard %}
      {% set pillTitle = "Standard" %}
      {% set pillUrl = "/" %}
      {% set pillIcon = "fa-solid fa-certificate" %}
      {% include "filter-pill.html" %}
    {% endif %}
    {% if isGuidance %}
      {% set pillTitle = "Guidance" %}
      {% set pillUrl = "/guidance" %}
      {% set pillIcon = "fa-solid fa-scroll" %}
      {% include "filter-pill.html" %}
    {% endif %}
  </ul>
{% endif %}
