<script src="/js/lunr.js"></script>
<i class="fa-solid fa-signs-post d-none" aria-hidden="true"></i>

<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);" class="needs-validation" novalidate>
    <div class="mb-0">
        <label for="lunrsearch" class="form-label visually-hidden">Search ScanGov Standards</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control shadow" id="lunrsearch" name="q" maxlength="255" value="" placeholder="search ScanGov Standards" required>
            <button type="submit" class="btn btn-primary">Go</button>
            <div class="invalid-feedback">
                Please enter a search term.
            </div>
        </div>
    </div>
</form>


<script>
var documents = [{% for item in collections.all %}{% if item.data.title and item.data.sitemap != false and not item.data.hide %}{
    "id": {{ loop.index0 }},
    "url": "{{ site.url }}{{ item.url }}",
    "title": "{{ item.data.title | replace('"', ' ') }}",
    "body": "{{ item.data.description | replace('.', '. ') | replace('"', ' ') if item.data.description else '' }}"
    }{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}];

var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('body')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});
function lunr_search(term) {
    document.getElementById('lunrsearchresults').innerHTML = '<div id="search-child"></div>';
    if(term) {
        document.getElementById('lunrsearchresults').innerHTML = "<p class='border-bottom pb-3 mb-4'>Search results for: <span class='text-body-secondary'>" + term + "</span></p>" + document.getElementById('lunrsearchresults').innerHTML;
        var results = idx.search(term);
        if(results.length>0){
            for (var i = 0; i < results.length; i++) {
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+(documents[ref]['body'].length>=160?'...':'');
                document.getElementById('search-child').innerHTML += `
                        <div class="mb-4">
                            <a href="${url}"><h2 class="h4">${title}</h2></a>
                            <p class="mb-0 small text-body-secondary">${body}</p>
                        </div>
                            `;
            }
        } else {
            document.getElementById('search-child').innerHTML = "<div class='alert alert-info' role='alert'><svg class='fa-solid fa-signs-post me-2' aria-hidden='true'><use href='#fas-fa-signs-post' xlink:href='#fas-fa-signs-post'></use></svg>We're sorry, we couldn't find anything related to your search. Try again or <a href='/site-index'>visit the site index</a> to browse all pages.</div>";
        }
    }
    return false;
}

const params = new URLSearchParams(location.search);
if (params.has('q')) {
    const q = decodeURI(params.get('q'));
    lunr_search(q);
    document.getElementById('lunrsearch').value = q;
}
</script>
