<thead>
  <tr>
    <th
      scope="col"
      class="p-3"
      style="white-space: nowrap">Indicators
      <a href="https://docs.scangov.org/indicators" aria-label="Indicators documentation">
        <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
      </a>
    </th>
    <th scope="col" class="p-3">Standard</th>
    <th scope="col" class="p-3">Why</th>
    <th scope="col" class="p-3">Guidance
      <a href="https://standards.scangov.org/guidance" aria-label="Guidance documentation">
        <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
      </a>
    </th>
  </tr>
</thead>