<thead>
  <tr>
    <th scope="col" class="p-3 sortable" data-col="0">Indicators <span class="sort-icons"><i class="fa-solid fa-sort sort-neutral"></i><i class="fa-solid fa-sort-up sort-asc d-none"></i><i class="fa-solid fa-sort-down sort-desc d-none"></i></span></th>
    <th scope="col" class="p-3 sortable" data-col="1">Standard <span class="sort-icons"><i class="fa-solid fa-sort sort-neutral"></i><i class="fa-solid fa-sort-up sort-asc d-none"></i><i class="fa-solid fa-sort-down sort-desc d-none"></i></span></th>
    <th scope="col" class="p-3">Why</th>
    <th scope="col" class="p-3">Guidance</th>
  </tr>
</thead>