<thead>
    <tr>
        <th scope="col" class="p-3">Indicators <a href="https://docs.scangov.org/indicators" style="color: inherit;"><i class="fa-solid fa-circle-question" aria-label="Indicators"></i></a></th>
        <th scope="col" class="p-3">Standard</th>
        <th scope="col" class="p-3">Why</th>
        <th scope="col" class="p-3">Guidance <a href="https://standards.scangov.org/guidance" style="color: inherit;"><i class="fa-solid fa-circle-question" aria-label="Guidance"></i></a></th>
    </tr>
</thead>
