---
layout: layouts/default.html
date: 2025-02-01
modified: 2025-03-17
author: ScanGov

title: List of generated docs pages
description: This is temporary should be removed
---

{% for item in docpages %}
<a href="/docs/{{ item.key }}">{{ item.key }}</a><br>
{% endfor %}