---
layout: layouts/docs.html
date: 2025-02-01
modified: 2025-03-17
author: ScanGov

pagination:
  data: docpages
  size: 1
  addAllPagesToCollections: true
  alias: docpage

permalink: "{{ docpage.key | slugify }}/"

eleventyComputed:
  title: "{{ docpage.displayName }} ({{ docpage.topicDisplayName }})"
  description: "{{ docpage.description }}"
  isStandard: true


topics:
  - Standards
---

{% if docpage.relatedLinks.audio %}
<div class="border mb-4 px-4 py-2 shadow">
    <h2 class="h4 my-0 py-3">Listen
      <i class="fa-solid fa-volume-high"></i>
    </h2>
    <p class="pb-0 small text-secondary mb-0 pb-3">A podcast overview related to {{ docpage.displayName }} made with Google NotebookLM.</p>
    <script src="/js/plyr.js"></script>
    <div tabindex="0" class="plyr plyr--full-ui plyr--audio plyr--html5 plyr--paused plyr--stopped">
      <audio id="player">
        <source src="{{ docpage.relatedLinks.audio }}" type="audio/mp3">
      </audio>
    </div>
    <script>
      const plyr = new Plyr('#player', {
        controls: [
          'play',
          'progress',
          'current-time',
          'duration',
          'mute',
          'volume'
        ]
      });
    </script>
  </div>
{% endif %}

<h2>Impact</h2>

<div class="bolts mt-3 mb-3">
  {% set taskNum = docpage.impact %}
  {% if taskNum == 0 %}
    {% set taskNum = 1 %}
  {% endif %}
  {% for i in range(taskNum) %}
    <i class="fa-solid fa-bolt"></i>
  {% endfor %}
</div>

<p class="small">(<a href="https://docs.scangov.org/impact/">ScanGov impact</a>)</p>

{% if docpage.sections.about.title %}
  <h2>{{ docpage.sections.about.title }}</h2>
  {{ docpage.sections.about.content | safeHtml | safe }}
{% endif %}

<h2>Why it's important</h2>
<p>{{ docpage.why | escape }}</p>

{% if docpage.userStories %}
<h2>User stories</h2>
{% for item in docpage.userStories %}
  <blockquote>{{ item.title }}</blockquote>
{% endfor %}
{% endif %}

{% if docpage.sections.code %}
  <h2>{{ docpage.sections.code.title }}</h2>
  {{ docpage.sections.code.content | safe }}
{% endif %}

<h2>Error</h2>
<p class="small mb-3 pb-0">(ScanGov messaging when a site fails a standard)</p></p>

<blockquote>
{{ docpage.error | escape }}
</blockquote>

{% if docpage.sections.example %}
  <h2>{{ docpage.sections.example.title }}</h2>
  {{ docpage.sections.example.content | safe }}
{% endif %}

{% if docpage.guidance %}
<h2>Guidance</h2>
<ul>
{% for item in docpage.guidance %}
  <li><a href="{{ item.url }}">{{ item.displayName }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if docpage.sections.links %}
  <h2>{{ docpage.sections.links.title }}</h2>
  {{ docpage.sections.links.content | safe }}
{% endif %}

<h2>Indicators</h2>

<ul class="nav nav-pills filter small">
  {% set pillTitle = audits[docpage.topic].displayName %}
  {% set pillUrl = "/" + docpage.topic %}
  {% set pillIcon = "fa-solid fa-" + docpage.topicIcon %}
  {% include "filter-pill.html" %}
</ul>

<div class="alert alert-info small" role="alert">

<h2 class="h4 mt-0">Related</h2>

{% set siblings = [] %}
{% for item in audits[docpage.topic].attributes %}
  {% if item.key | slugify != docpage.key | slugify %}
    {% set siblings = (siblings.push(item), siblings) %}
  {% endif %}
{% endfor %}

{% if siblings.length > 0 %}
<h3 class="h5">{{ docpage.topicDisplayName }}</h3>
<ul>
{% for item in siblings %}
  <li><a href="/{{ item.key | slugify }}">{{ item.displayName | escape }}</a></li>
{% endfor %}
</ul>
<p><a href="/{{ docpage.topic }}/">All {{ docpage.topicDisplayName }} standards</a></p>
{% endif %}

<h3 class="h5">On Project ScanGov</h3>
<p class="mb-0"><a href="https://scangov.org/rankings/{{ docpage.topic }}/">Site {{ docpage.topicDisplayName }} scores</a></p>

</div>
