{% include "header.html" %}
{% include "nav.html" %}
<main>
  <div class="pt-5 pb-5 mb-5 border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="main-content">
            {% if title %}
              <h1 class="display-5">{{ title }}</h1>
            {% endif %}
            {% if description %}
              <p class="lead fs-5">{{ description | safe }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ content | safe }}
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %}